<div class="col-md-4 mx-auto">
    <h2>Productos</h2>

    {{#if listExists}}
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Foto</th>
            </tr>
        </thead>
        {{#each productos}}
        <tbody>
            <tr>
            <td>{{this.titulo}}</td>
            <td>{{this.precio}}</td>
            <td><img src={{this.foto}}></td>
            </tr>
        </tbody>
        {{/each}}
    </table>
    {{/if}}

</div>